{% include navbar.html %}
{% include jumbo_header.html %}

<div class="content">
    <div class="container">
        <div class="row-fluid">

            <p style="font-size:26px">This blog will touch on many of the technical choices made at Health Catalyst,
                mainly around data science. If there’s a particular topic that interests, <a
                        href="/contact.html">contact us!</a> Some posts will be short, while others will
                be in-depth. We are focused on on content and frequent posts (twice per-week) rather than polish. When
                we talk about doing things with data, we’ll post the code, so you can follow along.</p>

            <hr>

            <div>
                <ul style="font-size: 24px;">
                    {% for post in site.categories.blog %}
                    <article>
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time
                            datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
                    </article>
                    <br>
                    {% endfor %}
                </ul>
            </div>
            
            <hr>

            <p style="font-size:26px">Subscribe to email updates: <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <i class="fa-rss fa"></i></a></a></p>
        </div>
    </div>
</div>