<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-brand"><img src="./splashimg/healthcareAI.svg" width="207" height="30" alt="HCTools Logo"/></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="./blog">Blog</a>
                    </li>
                    <li>
                        <a href="./contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="#why">Why Open Source</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('splashimg/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>healthcare.ai is open source software<br>streamlining healthcare machine learning</h1>
                        <span class="subheading">
                        	<a href="./r">
                            <button type="button" class="btn btn-default"><img src="./splashimg/rLang.png" width="70" height="45" alt="R Language Icon"/>R Package</button></a>
                            <a href="./py">
							<button type="button" class="btn btn-default"><img src="./splashimg/python.png" width="70" height="45" alt="Python Language Icon"/>Python Package</button></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="content">
    <div class="container">
        <div class="row-fluid">

            <p>
            This blog will touch on many of the technical choices made at Health Catalyst, mainly around data science. If there’s a particular topic that interests, <a href ="http://healthcare.ai/contact">contact us!</a> Some posts will be short, while others will be in-depth. The tone will be informal, with a focus on content and frequent posts (twice per-week) rather than polish. When we talk about doing things with data, we’ll post the code, so you can follow along. Please excuse any temporary site issues, as we're experimenting with what might work best.
            </p>

            <p>Subscribe to email updates: <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <i class="fa-rss fa"></i></a></a></p>
            
            <h1 class="entry-title">
            {% if page.title %}
                <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
            {% endif %}
            {% if post.title %}
                <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
            </h1>
            <div class="entry-content">{{ content }}</div>
            
        </div>
    </div>
</div>