<!-- Page Header -->
<header class="intro-header" style="background-image: url('/splashimg/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>healthcare.ai is open source software<br/>streamlining healthcare machine learning</h1>
                    <a href="/learn_more" class="btn btn-lg btn-success">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> Learn More
                    </a>
                    <a href="/learn_more#get-started" class="btn btn-lg btn-info">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>