<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top hc-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <i class="fa fa-bars" title="Toggle navigation"></i><span class="sr-only">Toggle navigation</span> Menu
            </button>
            <div class="navbar-brand">
                <a href="/"><img src="/public/img/healthcareAI.svg" width="207" height="30" alt="healthcare.ai logo"/></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/learn_more">Learn More</a>
                </li>
                <li>
                    <a href="/blog">Data Science Blog</a>
                </li>
                <li>
                    <a href="/r">R Package</a>
                </li>
                <li>
                    <a href="/py">Python Package</a>
                </li>
                <li>
                    <a href="/contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>