!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top hc-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <i class="fa fa-bars" title="Toggle navigation"></i><span class="sr-only">Toggle navigation</span> Menu
            </button>
            <div class="navbar-brand">
                <a href="/"><img src="/splashimg/healthcareAI.svg" width="207" height="30" alt="HCTools Logo"/></a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/learnmore.html">Learn More</a>
                </li>
                <li>
                    <a href="/blog">Data Science Blog</a>
                </li>
                <li>
                    <a href="/r">R Package</a>
                </li>
                <li>
                    <a href="/py">Python Package</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/splashimg/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>healthcare.ai is open source software<br/>streamlining healthcare machine learning</h1>
                    <a href="/learnmore.html" class="btn btn-lg btn-success">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> Learn More
                    </a>
                    <a href="/learnmore.html#get-started" class="btn btn-lg btn-info">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>