<div class="container">
    <div class="row" id="upcoming-webinar">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-3">
                    <p class="text-center"><img class="avatar" src="/public/img/leviWebinar.png"/></p>
                </div>
                <div class="col-xs-9">
                    <h4>Watch Webinar Replay <strong>Now</strong></h4>
                    <p>Wednesday, Feb 8 2017 1:00pm ET</p>
                    <h3>Machine Learning Using Healthcare.ai</h3>
                    <p>Hosted by Levi Thatcher and Michael Mastanduno, PhD</p>
                    <a class="btn btn-sm btn-primary"
                       href="https://www.healthcatalyst.com/webinar/machine-learning-using-healthcare-ai/">Watch
                        Recording Now</a>
                </div>
            </div>
        </div>
    </div>
</div>