<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>

{% include navbar.html %}
{% include jumbo_header.html %}

<div class="content">
    <div class="container">
        <div class="row-fluid">
            <h1 class="entry-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</a></h1>
            {{ page.date | date: '%B %d, %Y' }}
            {{ content }}

            <p>Subscribe to email updates: <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://feedburner.google.com/fb/a/mailverify?uri=healthcareai&amp;loc=en_US" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <i class="fa-rss fa"></i></a></a></p>
        </div>
    </div>
</div>

{% include footer.html %}

{% include footer_scripts.html %}
</body>
</html>