<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>

{% include navbar.html %}

<div class="container blog-post">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="entry-title"><a href="{{ page.link }}">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</a></h1>
            {{ page.date | date: '%B %d, %Y' }}

            <div class="blog-post-content">
                {{ content }}
            </div>

            <br />
            <br />
            <br />
            <br />
            {% include subscribe_to_updates.html %}
            {% include subscribe_to_email.html %}
        </div>
    </div>
</div>

{% include footer.html %}

{% include footer_scripts.html %}
</body>
</html>