---
# Blog index found at `/blog`
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai - Data Science Blog</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>
{% include navbar.html %}

<div class="container blog-index">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Data Science Blog</h1>

            <p>This blog will touch on many of the technical choices made at Health Catalyst, mainly around data
                science. If there’s a particular topic that interests you, please <a href="/contact.html">contact
                    us!</a></p>
            <p>Some posts will be short, while others will be in-depth. We are focused on on content and frequent
                posts
                (twice per-week) rather than polish. When we talk about doing things with data, we’ll post the code,
                so
                you can follow along.</p>

            <hr />
        </div>
    </div>

    {% for post in site.categories.blog %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <article class="post">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <h3 class="time">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y"
                        }}
                    </time>
                </h3>
                <h3 class="author">by {{ post.author }}</h3>
                <p class="excerpt">{{ post.excerpt }} <a href="{{ post.url }}">Continue reading <i class="fa fa-chevron-circle-right"></i></a></p>
            </article>
        </div>
    </div>
    {% endfor %}

    <br />
    <br />
    <br />
    <br />
    {% include subscribe_to_updates.html %}
</div>

{% include footer.html %}

{% include footer_scripts.html %}
</body>
</html>