---
# Contact page found at `/contact.html`
permalink: contact.html
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai - contact</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>
    {% include navbar.html %}

    {% include jumbo_header.html %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="post-preview">
                <h2 class="post-title">Contact Us</h2>
                <p>We welcome comments, collaboration and questions!</p>
                <ul>
                    <li><a href="https://github.com/HealthCatalystSLC">HealthCatalystSLC GitHub</a></li>
                    <li>Levi Thatcher - <a href="mailto:levi.thatcher@healthcatalyst.com">Email</a> - <a href="http://twitter.com/levithatcher">Twitter</a></li>
                    <li>Mike Mastanduno - <a href="mailto:michael.mastanduno@healthcatalyst.com">Email</a></li>
                    <li>Taylor Larsen - <a href="mailto:taylor.larsen@healthcatalyst.com">Email</a></li>
                </ul>
            </div>
          </div>
          
        </div>
    </div>
    
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

    {% include footer.html %}

    {% include footer_scripts.html %}
</body>
</html>
