---
# Home page found at `/` or `/index.html`
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>
{% include navbar.html %}

{% include jumbo_header.html %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5">
            <div class="post-preview">
                <h2>What is healthcare.ai</h2>
                <p class="post-subtitle">The healthcare.ai packages are designed to streamline healthcare machine
                    learning.
                    They do this by including functionality specific to healthcare, as well as simplifying the workflow
                    of creating and deploying models. We believe that machine learning is too helpful and important to
                    be handled solely by full-time data scientists. These packages are a humble attempt at machine
                    learning democratization in a realm that needs it most—healthcare.
                </p>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <div class="imgCenter"><img class="img-responsive" src="/public/img/MachineLearning-min.png" width="295"
                                        alt=""/></div>
        </div>
        <div class="col-sm-offset-1 col-sm-10">
            <div class="post-preview">
                <h2>What does it do?</h2>
                <p class="post-subtitle">
                    Both healthcare.ai packages provide an easy way to create models on your data. This includes
                    linear and random forest models, ways to handle missing data, guidance on feature selection,
                    proper performance metrics, and easy database connections.
                </p>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-10">
            <div class="post-preview">
                <h2>How does healthcare.ai focus on healthcare?</h2>
                <p class="post-subtitle">
                    The two packages that comprise healthcare.ai differ from other machine learning packages in that
                    they focus on data issues specific to healthcare. This means that we pay attention to longitudinal
                    questions, offer an easy way to do risk-adjusted comparisons, and provide easy connections and
                    deployment to databases.
                </p>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
            <div class="post-preview">
                <h2>Who is healthcare.ai designed for?</h2>
                <p class="post-subtitle">
                    While data scientists in healthcare will likely find these packages valuable, the audience
                    healthcare.ai targets are those BI developers, data architects, and SQL developers that would
                    love to create appropriate and accurate models with healthcare data. While existing machine
                    learning packages are certainly irreplaceable, we think that there is a set of data problems
                    specific to healthcare that warrant new tools.
                </p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="post-preview">
                <h2>Why did Health Catalyst open source this?</h2>
                <p class="post-subtitle">
                    We believe that everyone benefits when healthcare is made more efficient and outcomes are
                    improved. Machine learning is surprisingly still fairly new to healthcare and we want to
                    quickly take healthcare down the machine learning adoption path. We believe that making helpful,
                    simple tools widely available is one small way to help healthcare organizations transform their
                    data into actionable insight that can be used to improve outcomes.
                </p>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
</div>

{% include footer.html %}

{% include footer_scripts.html %}
</body>
</html>