---
# Learn More page found at `/learn_more`
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description"
          content="healthcare.ai is software in python and R that makes machine learning in healthcare approachable."/>
    <meta name="author" content=""/>

    <title>healthcare.ai - contact</title>

    {% include head_style_stuff.html %}

    {% include analytics.html %}
</head>
<body>
{% include navbar.html %}

<!-- Main Content -->
<div class="container hc-learn-more" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="margin-top: 0;">What can I do with healthcare.ai?</h2>
                    <ul>
                        <li>Create and compare models based on your data.</li>
                        <li>Save and deploy a model.</li>
                        <li>Perform risk-adjusted comparisons.</li>
                        <li>Do trend analysis following Nelson rules.</li>
                        <li>Improve sparse data via longitudinal imputation.</li>
                        <li>Fill in missing data via imputation.</li>
                        <li>Deploy a model to produce daily predictions.</li>
                        <li>Write predictions back to a database.</li>
                        <li>Learn what factors drive each prediction.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>How is it tailored to healthcare?</h2>
                    <ul>
                        <li>Longitudinal machine learning via mixed models.</li>
                        <li>Longitudinal imputation.</li>
                        <li>Risk-adjusted comparisons.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 hc-collaborate">
            <h3>Collaborate!</h3>
            <p>Our goal with this project is to expedite adoption of ML in healthcare by building pragmatic world class
                tools to help anyone with access to healthcare data.</p>
            <p>You can help in many ways:</p>
            <ul>
                <li>Try out the packages and let us know what needs improvement!</li>
                <li>Check out our <a href="https://github.com/HealthCatalystSLC">Github repos</a></li>
            </ul>

            <p> <a class="github-button" href="https://github.com/HealthCatalystSLC" data-style="mega" data-count-href="/HealthCatalystSLC/followers" data-count-api="/users/HealthCatalystSLC#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @HealthCatalystSLC on GitHub">Follow @HealthCatalystSLC</a>
                <!--<a class="github-button" href="https://github.com/HealthCatalystSLC/healthcareai-py/issues" data-style="mega" data-count-api="/repos/HealthCatalystSLC/healthcareai-py#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue HealthCatalystSLC/healthcareai-py on GitHub">Issue</a>--></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <h2><a name="get-started"></a>How do I get started?</h2>
            <p>Healthcare.ai is available in packages for both R and Python, two of the most common languages used
                by data scientists. If you don't previous experience with either language, we recommend the R package
                as it currently has more features and R is more newbie-friendly.</p>
            <p>The buttons below will take you to the documentation which includes installation instructions,
                feature references, as well as hints and tips.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
            <iframe width="650" height="366" src="https://www.youtube.com/embed/PB7W8pzQBrs?rel=0" frameborder="0" allowfullscreen></iframe></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
            <a href="/r" class="hc-package-link btn btn-default btn-lg">
                <img src="/public/img/rLang.png" title="package logo"/> R Package
            </a>
            <a href="/py" class="hc-package-link btn btn-default btn-lg">
                <img src="/public/img/python.png" title="package logo"/> Python Package
            </a>
        </div>
    </div>
    {% include subscribe_to_updates.html %}
</div>

<br />

{% include footer.html %}

{% include footer_scripts.html %}
</body>
</html>
